<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Instructors</title>
    <title>navbar</nav></title>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<header>

</header>
<div class="banner">

</div>
    <div class="row">
        <div class="col-4">
            
        </div>
    <div class="col-8">
    <div class="navbar">
        <ul class="ul">
        <li><a href="Home.html" class="li">Home</a></li>
        <li><a href="instructors.html" class="li">Instructors</a></li>
        <li><a href="news.html" class="li">News</a></li>
      <li><a href="Contact-us.html" class="li">Contact-us</a></li>
    </ul>
    </div>
    </div>  
    </div> 
    <h1 class="banner">CONTACT-US</h1>
     
 <div class="row">
    <div class="col-2"></div> 
    <div class="col-4">
      <input type="text" placeholder="enter first name" class="form">  
    </div>
   <div class="col-4">
      <input type="text" placeholder="enter second name" class="form">  
    </div>
     <div class="col-2"></div> 

 </div>
 
 <div class="row">
    <div class="col-2"></div> 
    <div class="col-4">
      <input type="text" placeholder="enter number" class="form">  
    </div>
   <div class="col-4">
      <input type="text" placeholder="enter email" class="form">  
    </div>
     <div class="col-2"></div> 

 </div>
 <div class="row">
     <div class="col-2"></div>
     <div class="col-8">
         <div>
             <input type="textrea" placeholder="leave message" class="reply">
         </div>
     </div>
     <div class="message">
         <input type="click to send" value="click to send" class="reply">
     </div>
     <div class="col-2"></div>

 </div>
</body>
</html>