<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Contact-us</title>
	<link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<header>

</header>
<div class="banner">

</div>
    <div class="row">
        <div class="col-4">
            
        </div>
    <div class="col-8">
    <div class="navbar">
        <ul class="ul">
        <li><a href="Home.html" class="li">Home</a></li>
        <li><a href="instructors.html" class="li">Instructors</a></li>
        <li><a href="news.html" class="li">News</a></li>
        <li><a href="contact.html" class="li">Contact Us</a></li>
    </ul>
    </div>
    </div>  
    </div>  
   
 <fieldset>
        <legend>BIO</legend>
            <label>First Name</label><br><br>
            <input type="name" placeholder=" first Name"><br><br>
            <label>Second Name</label><br><br>
            <input type="name" placeholder="second Name"><br><br>
            <label>Email</label><br><br>
            <input type="Email" placeholder="enter email"><br><br>
            
        </fieldset>
        <fieldset>
            <legend>OTHERS</legend>
            <label>Telephone number</label><br><br>
            <input type="number" placeholder="enter telephone number"><br><br>
          </fieldset>
            
          <label for="subject">Message box</label>
    <textarea id="subject" name="subject" placeholder="leave message.." style="height:200px"></textarea>

    <input type="submit" value="Submit">
</body>
</html>